body {
    background-color: burlywood;
}


.qbox {
    display: flex;
    justify-content: center;
}


#op1, #op2, #op3, #op4{
    background-color: aqua;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

#countdown {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 36px;

}